
p{
  margin-bottom: 0 !important;
}
.head-right{
    width: 100%;
    height: 7.5%;
    // padding: 24px 24px 5px 24px !important;
    padding-left: 24px !important;
    margin-top: 24px !important;
    position: relative;
    display: flex;
    flex-direction: row;
    
}
.option{
  height: 65px;
  position: absolute;
  right: 24px;
}
.option img{
  margin-left: 12px !important;
  cursor: pointer;
  float: right;
}

// #avatar img{
   
//     border-radius: 50%;
//     width: 32px;
//     height: 32px;
//     overflow: hidden;
// }
#name{
    font-size: 13px;
    font-weight: 500;
    color: #212121;
}
#status{
    font-size: 12px;
    color: #757575;
}
#content{
    margin-left: 7px !important;
}
//chia

.bubbleWrapper {
  padding-top: 10px !important;
  padding-left: 24px !important;
  padding-right: 24px !important;
  padding-bottom: 0px !important;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	align-self: flex-end;
  // color: #fff;
}
.inlineContainer {
  display: inline-flex;
  align-items: center;
}
.inlineContainer.own {
  flex-direction: row-reverse;
}
.inlineIcon {
  width:30px;
  height: 30px;
  object-fit: contain;
  border-radius: 50%!important;
}
.ownBubble {
	min-width: 60px;
	max-width: 406px;
	padding: 7px 8px !important;
  margin: 6px 8px !important;
	background-color: #2688e6;
	border-radius: 16px 16px 16px 16px;
  border: 1px solid #2688e6;
  color: #ffffff;
  font-size: 13px;
  white-space: pre-line;
  word-wrap: break-word;
 
}
.otherBubble {
	min-width: 60px;
	max-width: 406px;
	padding: 7px 8px !important;
  margin: 6px 8px !important;
	background-color:  #eeeeee;
	border-radius: 16px 16px 16px 16px;
  border: 1px solid  #eeeeee;
  color: #212121;
  font-size: 13px;
  white-space: pre-line;
  word-wrap: break-word;
  
   
}
.otherBubble-typing{
  width: 60px;
  height: 35px;
	padding: 7px 8px !important;
  margin: 6px 8px !important;
	background-color:  #eeeeee;
	border-radius: 16px 16px 16px 16px;
  border: 1px solid  #eeeeee;
  color: #212121;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
 
  
}

.own img{
  max-width: 300px;
  max-height: 300px;
  // border-radius: 50%;
  // margin: 8px 0px 8px 8px;
  border-radius: 12px;
  @media screen and (max-width : 992px) {
    max-width: 250px;
  }
  @media screen and (max-width : 768px) {
    max-width: 200px;
  }
  @media screen and (max-width : 576px) {
    max-width: 150px;
  }
  
  
}

.other img{
  max-width: 300px;
  max-height: 300px;
  margin-left: 8px !important;
  cursor: pointer;
  // margin: 8px 0px 8px 8px;
  border-radius: 12px;
  @media screen and (max-width : 992px) {
    max-width: 250px;
  }
  @media screen and (max-width : 768px) {
    max-width: 200px;
  }
  @media screen and (max-width : 576px) {
    max-width: 150px;
  }
  
}
.message-left{
  position: absolute;
  left: 0;
}
.message-right{
  position: relative;
}
.own {
  align-self: flex-end;
  a{
    margin-right: 8px !important;
  }
 
}
#img-message-send{
  margin-right: 8px !important;
  cursor: pointer;
  object-fit: cover;
}
.other {
  align-self: flex-start;
  a{
    margin-left: 8px !important;
  }
  img{
    object-fit: cover;
  }
 
}
span.own,
span.other{
  font-size: 12px;
  color: grey;
}

.right{
  position: relative;
  height: 100%;
}
.text_box{
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  height: calc(100% - 80px);
}
.main-right{
  display: flex;
  flex-direction: column;
  position: relative;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width : 992px) {
    min-width: calc(100% - 250px)!important;
  }
  @media screen and (max-width : 768px) {
    min-width: calc(100% - 200px)!important;
  }
  @media screen and (max-width : 576px) {
    min-width: calc(100% - 150px)!important;
  }
  #load{
    position: absolute;
    top: 0;
  }
  
}
#contact{
  width: 100%;
  height: calc(100% - 61px);
  position: relative;
  display: inline-block;
  flex-direction: column;
  position: relative;
  overflow-y: auto;
  margin-bottom: 5px !important;
  .emoji-mart{
    position: absolute;
    right: 0;
    bottom: 0;
  }
  
}
#contact2{
  width: 100%;
  height: calc(100% - 61px);
  
  display: inline-block;
  flex-direction: column;
  position: relative;
  overflow-y: auto;
  margin-bottom: 5px !important;
//   background-image: url("../../../assets/File/watermark.svg");
  background-size: cover; 
  object-fit: cover;
}
// .contact::-webkit-scrollbar {
//   width: 0px;
//   background: transparent; /* make scrollbar transparent */
// }
#contact::-webkit-scrollbar {
  width: 10px;
	background-color: #F5F5F5;
}
#contact::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(left, #96A6BF, #63738C);
  box-shadow: inset 0 0 1px 1px #5C6670;
}

#contact::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #eee;
  box-shadow: 0 0 0px 0px #bbb, inset 0 0 7px #ffffff
}

#contact::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(left, #8391A6, #536175);
}

.extend{
  position: absolute;
  right: 0px;
  width: 300px;
  height: 100%;
  @media screen and (max-width : 992px) {
    width: 250px;
  }
  @media screen and (max-width : 768px) {
    width: 200px;
  }
  @media screen and (max-width : 576px) {
    width: 150px;
  }
}
.container-fluid{
  padding: 0!important;
}

// type
.type-bot{
  width: 100%;
  padding-left: 20px !important;
  padding-right: 26px !important;
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  position: absolute;
  bottom: 0 !important;
  background-color: #f8f8f8;
 
  
}
.icon{
  width: 130px;
  height: 61px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 3% !important;
  
}
#buzz{
  background-color: #f86060;
  border-radius: 3px;
  width: 43px;
  height: 24px;
  overflow: hidden;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
  @media screen and (max-width : 992px) {
    width: 43px;
    height: 24px;
  }
  @media screen and (max-width : 768px) {
    width: 35px;
    height: 24px;
  }
  @media screen and (max-width : 576px) {
    width: 30px;
    height: 24px;
  }
}

#tag{
  color: #cccccc;
  width: 24px;
  height: 24px;
  margin-right: 15% !important;

}
#picture{
  width: 24px;
  height: 24px;
}
.send{
  background-color: #ffffff;
  border-radius: 7.5px;
  border: 1px solid #e0e0e0;
  width: 90%;
  height: 39px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  justify-content: center;
  
}
#text{
  border: none;
  width: 100%;
  height: 27px;
  outline: none;
  padding-left: 20px !important;
  overflow-y: auto;
  font-family: 'Roboto';
}
#text::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
#smile{
  width: 50px;
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.send img{
  width: 24px;
  height: 24px;
  position: absolute;
  right: 10px;
  cursor: pointer
}
#picture{
  margin-right: 15% !important;
  @media screen and (max-width : 992px) {
    margin-right: 5%;
  }
  @media screen and (max-width : 768px) {
    margin-right: 5%;
  }
  @media screen and (max-width : 576px) {
    margin-right: 5%;
  }
}
.upFile input{
  display: none;
}
.upFile{
  margin-right: 15% !important;
  cursor: pointer;
  @media screen and (max-width : 992px) {
    margin-right: 5%;
  }
  @media screen and (max-width : 768px) {
    margin-right: 5%;
  }
  @media screen and (max-width : 576px) {
    margin-right: 5%;
  }
}

// zoom-imgg
// zoom img
.zoom-img-click {
  position: fixed;
  top: 0;
  left: 0; 
  width: 100%; 
  height: 100%; 
  background-color: #0d0d0d8f;
  z-index: 100000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  img {
      max-width: 80%;
      max-height: 80%;
      position: relative;
  }
  img.icon-clock {
      position: absolute;
      width: 32px;
      height: 32px;
      top: 4%;
      right: 4%;
      cursor: pointer;
  }
}
.main a{
  color: white!important;
  text-decoration: white!important;
  text-decoration:underline!important ;
}
.other a{
  text-decoration:underline!important ;
}
.own a{
  color: white!important;
  text-decoration: white!important;
  text-decoration:underline!important ;
}
.group-chat{
  padding-left: 24px !important;
  padding-right: 24px !important;
  width: 100% !important;
  height: 100% !important;
  .group-name{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #e1e1e1;
    .create-name{
     
      font-size: 14px;
      padding: 2px 0;
      white-space: nowrap;
      margin-right: 20px;
    }
    .input-name{
      // background-color: #ffffff;
      border-radius: 7.5px;
      border: 1px solid #f8f8f8;
      height: 30px;
      margin-left: 20px !important;
      width: 70%;
      ::placeholder { 
        color: rgba(0, 0, 0, .40);
        font-size: 12px !important;
        padding: 2px 0;
        white-space: nowrap;
        margin-right: 20px;
      }
      outline: none;
      padding-left: 10px !important;
      font-family: 'Roboto';
      // border: none;
    }
    .create{
      width: 50px;
      height: 30px;
      background-color: rgb(33, 150, 243);
      color: white;
      font-size: 14px;
      margin-left: 20px !important;
      border-radius: 7.5px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }
  .attendee{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #e1e1e1;
    .chosePeople{
      width: 70% !important;
      margin-left: 21px;
    }
  }
}
// #multiselect-diacritics.control-section{
//   width: 80%;
//   margin: 0 auto;
//   min-width: 185px;
// }
// .e-bigger #multiselect-diacritics.control-section {
//   width: 100%;
// }
// ::ng-deep .dx-checkbox-checked .dx-checkbox-icon::before {
//   content: "v" !important;
// }
::ng-deep .dx-texteditor.dx-editor-outlined{
  height: 30px;
  border-radius: 7.5px;
  border: 1px solid #f8f8f8;
}
::ng-deep .dx-checkbox-checked .dx-checkbox-icon::before{
  content: "✔" !important;
}
::ng-deep .dx-dropdowneditor-icon::before{
  content: "🔽" !important;
}
::ng-deep .dx-icon-clear::before{
  content: "✖";
}

